{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}/{% endblock %} - Social Crowd</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet"></link>
        <link type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.css" rel="stylesheet"></link>

        {% block extrahead %}
            <link type="text/css" href="{{ STATIC_URL }}css/base.css" rel="stylesheet"></link>
        {% endblock %}
    </head>

    <body>
        {% block body %}
            <div class="container">
              <div class="header">
                <ul class="nav nav-pills pull-right">
                  <li><a href="{% url "landing_index" %}">{% trans "landing" %}</a></li>
                  <li><a href="{% url "account_logout" %}">{% trans "Logout" %}</a></li>
                </ul>
                <h3 class="text-muted">Social Crowd</h3>
              </div>

              {% include "messages.html" %}

              {% block content %}

              {% block pretop %}
              <div class="jumbotron">
                {% block top %}
                    <h1>Jumbotron heading</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
                {% endblock %}
              </div>
              {% endblock %}

            {% endblock %}

              <div class="footer">
                {% block foot %}
                    <p>
                    <!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
                    <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
                        ©
                    </span>
                    <!--[if lte IE 8]></span><![endif]-->
                    Wadobo 2013</p>
                {% endblock %}
              </div>

            </div>

        {% endblock %}

        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>

        {% block extrabody %}
        {% endblock %}
    </body>
</html>
