{% load i18n %}
{% load thumbnail %}

<!-- main_footer -->
<footer id="main_footer">
    <div class="container">
        <!-- columns -->
        <div class="row">
            <!-- first-column -->
            <div class="col-md-4">
                <h4>{% trans "News" %}</h4>
                <div class="news">
                    {% for n in news %}
                    <!-- new-item -->
                    <a href="{{ n.link }}" class="new-item">
                        <span class="date"><i class="icon-clock i-16"></i> {{ n.created }}</span>
                        <span>{{ n.title|truncatewords:10 }}</span>
                    </a>
                    <!-- END new-item -->
                    {% empty %}
                        {% trans "No news" %}
                    {% endfor %}
                </div>
            </div>
            <!-- END first-column -->
            <!-- second-column -->
            <div class="col-md-4 col-md-offset-1 col-xs-7">
                <h4>{% trans "Organizations" %}</h4>
                <ul class="nav nav-pills nav-stacked">
                  {% for ong in top_ongs %}
                    <li><a href="{% url 'ong' ong.id %}">
                        <img src="{% thumbnail ong.img|default:'defaultp.png' 18x18 %}" alt="{{ ong }}"/>
                        {{ ong.name }}</a></li>
                  {% endfor %}
                </ul>
            </div>
            <!-- END second-column -->
            <!-- second-column -->
            <div class="col-md-2 col-xs-5">
                <h4>{% trans "Social" %}</h4>
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="https://twitter.com/socialtocrowd"><i class="icon-twitter i-16"></i> Twitter</a></li>
                  <li><a href="https://www.facebook.com/socialtocrowd"><i class="icon-facebook i-16"></i> Facebook</a></li>
                  <li><a href="#"><i class="icon-google i-16"></i> Google+</a></li>
                  <li><a href="https://www.youtube.com/user/enredav3"><i class="icon-youtube i-16"></i> Youtube</a></li>
                  <li><a href="https://github.com/socialinn/socialtocrowd"><i class="icon-github i-16"></i> GitHub</a></li>
                </ul>
            </div>
            <!-- END second-column -->
        </div>
        <!-- END columns -->
        <!-- legal -->
        <div class="legal">
            <div class="row">
                <div class="col-xs-6">
                    <a href="/pages/legal/">{% trans "Legal" %}</a> &middot;
                    <a href="https://github.com/socialinn/socialtocrowd/">{% trans "Source code" %}</a> &middot;
                    <a href="/pages/faq/">{% trans "FAQ" %}</a>
                </div>
                <div class="col-xs-6 text-right">
                    © 2014 Social to Crowd
                </div>
            </div>
        </div>
        <!-- END legal -->
    </div>
</footer>
<!-- END main_footer -->
