{% extends "base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Edit profile" %}{% endblock %}

{% block content %}
<div class="page-layout container">
<div class="row">
    <div class="well col-md-9">
        <form method="POST" action="" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}
            <input type="submit" class="btn btn-success" value="{% trans "Save" %}"/>
            <a href="{% url 'profile' %}" class="btn btn-danger">{% trans "Cancel" %}</a>
        </form>
    </div>
</div>
</div>
{% endblock %}
