{% load i18n %}

<!-- #last_projects -->
<section id="contributors_home">
    <div class="container text-center">
        <!-- section-title -->
        <div class="section-title">
            <h2>{% trans "Contributors" %}</h2>
        </div>
        <!-- END section-title -->
        <!-- logos -->
        <div class="logos row">
            <div class="col-md-10 col-md-offset-1">
                <a href="#"><img src="{{ STATIC_URL }}theme/demo-files/fake_logo.png"></a>
                <a href="#"><img src="{{ STATIC_URL }}theme/demo-files/fake_logo.png"></a>
                <a href="#"><img src="{{ STATIC_URL }}theme/demo-files/fake_logo.png"></a>
                <a href="#"><img src="{{ STATIC_URL }}theme/demo-files/fake_logo.png"></a>
                <a href="#"><img src="{{ STATIC_URL }}theme/demo-files/fake_logo.png"></a>
                <a href="#"><img src="{{ STATIC_URL }}theme/demo-files/fake_logo.png"></a>
                <a href="#"><img src="{{ STATIC_URL }}theme/demo-files/fake_logo.png"></a>
                <a href="#"><img src="{{ STATIC_URL }}theme/demo-files/fake_logo.png"></a>
                <a href="#"><img src="{{ STATIC_URL }}theme/demo-files/fake_logo.png"></a>
                <a href="#"><img src="{{ STATIC_URL }}theme/demo-files/fake_logo.png"></a>
            </div>
        </div>
        <!-- END logos -->
    </div>
</section>
<!-- END #last_projects -->
