{% load i18n %}

<!-- #last_projects -->
<section id="contributors_home">
    <div class="container text-center">
        <!-- section-title -->
        <div class="section-title">
            <h2>{% trans "Contributors" %}</h2>
        </div>
        <!-- END section-title -->
        <!-- logos -->
        <div class="logos row">
            <div class="col-md-10 col-md-offset-1">
                <a href="http://wadobo.com/" alt="Wadobo"><img src="{{ STATIC_URL }}media/contrib/wadobo.png"></a>
                <a href="http://enreda.coop/" alt"Cooperativa ENEREDA"><img src="{{ STATIC_URL }}media/contrib/enreda.jpg"></a>
                 <a href="/pages/contributors/" alt="Cofinanciadores"><img src="{{ STATIC_URL }}media/contrib/goteo.jpg"></a>
            </div>
        </div>
        <!-- END logos -->
    </div>
</section>
<!-- END #last_projects -->
