{% load i18n %}
{% load thumbnail %}

<!-- #featured_images -->
<section id="featured_images" class="carousel slide" data-ride="carousel">
    <!-- carousel-inner -->
    <div class="carousel-inner" role="listbox">
           {% for p in top_projects %}
            {% include "project/project_header.html" with project=p active=forloop.first slider="True" %}
        {% endfor %}
      
        {% include "project/slide_ad3.html" with active=forloop.first %}
		{% include "project/slide_ad1.html" with active=forloop.first %}
    </div>
    <!-- END carousel-inner -->

    <!-- carousel-controls -->
    <div class="carousel-controls">
        <div class="container">
            <div class="carousel-controls-container">
                <!-- carousel-indicators -->
                <ol class="carousel-indicators">
                    {% for p in top_projects %}
                        <li data-target="#featured_images" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
					<!-- ZERO!! -->
					<li data-target="#featured_images" data-slide-to="3"></li>
                </ol>
                <!-- END carousel-indicators -->
                <!-- carousel-control -->
                <a class="left carousel-control" href="#featured_images" role="button" data-slide="prev">
                    <i class="icon-arrow-left2 i-32"></i>
                </a>
                <a class="right carousel-control" href="#featured_images" role="button" data-slide="next">
                    <i class="icon-arrow-right2 i-32"></i>
                </a>
                <!-- END carousel-control -->
            </div>
        </div>
    </div>
    <!--END carousel-controls -->

</section>
<!-- END #featured_images -->
