{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Near to you" %}{% endblock %}

{% block extrahead %}
    <link type="text/css" href="{{ STATIC_URL }}css/project.css" rel="stylesheet"></link>
    <link type="text/css" href="{{ STATIC_URL }}css/near.css" rel="stylesheet"></link>
{% endblock %}

{% block extrabody %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="{{ STATIC_URL }}js/near.js"></script>
    <script>
        Near.init();
    </script>
{% endblock %}

{% block content %}
    <div class="searchbar input-group">
      <input type="text" class="form-control" id="address" placeholder="{% trans "Search your location" %}">
      <span class="input-group-btn">
        <input type="button" class="btn btn-primary" value="{% trans "Go" %}" onclick="Near.codeAddress()">
      </span>
    </div>

    <div id="map-canvas"></div>

    {% include "landing/bigbuttons.html" %}
{% endblock %}
