{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

        <form class="form-signin" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">

        {% include "messages.html" %}
        {% if form.errors %}
            <div class="alert alert-danger">{% trans "Your username and password didn't match. Please try again." %}</div>
        {% endif %}

        {% csrf_token %}
            <h2 class="form-signin-heading">{% trans "Login" %}</h2>
            <input type="email" id="id_username" name="username" maxlength="254" class="form-control" placeholder="{% trans "Email address" %}" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            {% comment %}
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> {% trans "Remember me" %}
            </label>
            {% endcomment %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Login" %}</button>
            <input type="hidden" name="next" value="{{ next }}" />

            {% trans "Don't have an account?" %} <a href="{% url "register" %}">{% trans "Create a new account" %}</a>
      </form>
    </div> <!-- /container -->
{% endblock %}
