{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block extrabody %}

<script src="{{ STATIC_URL }}js/selectplacemap.js"></script>

<script type="text/javascript">


var selectMap = new SelectPlaceMap({
	marker_image: '{{ STATIC_URL }}media/mapmarker.png',
	default_position: [637125.42195, 8172199.19090669],
	map_div_id: 'id_pos_map'
});

selectMap.onSelectPlace( function( map, coordinate ) {
	var transform = ol.proj.getTransform('EPSG:3857', 'EPSG:4326');
	var point = transform(coordinate);
	$('#id_pos').val("POINT (" + point[0] + " " + point[1] + ")");
});

if ("{{ direction }}") { // Paint point and center
	var lat = parseFloat("{{ direction.pos.0 }}");
	var lon = parseFloat("{{ direction.pos.1 }}");
	selectMap.setMarkerPlaceLatLon( lat, lon );
}


</script>


{% endblock %}
{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        {% if edit %}
            <input type="submit" class="btn btn-block btn-success" value="{% trans "Update" %}" />
        {% else %}
            <input type="submit" class="btn btn-block btn-success" value="{% trans "Create" %}" />
        {% endif %}
    </form>
    <div id="id_pos_map">
	</div>

{% endblock %}

