{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block extrabody %}

<script src="{{ STATIC_URL }}js/selectplacemap.js"></script>

<script type="text/javascript">


var selectMap = new SelectPlaceMap({
	marker_image: '{{ STATIC_URL }}media/mapmarker.png',
	default_position: [637125.42195, 8172199.19090669],
	map_div_id: 'id_pos_map'
});

selectMap.onSelectPlace( function( map, coordinate ) {
	var transform = ol.proj.getTransform('EPSG:3857', 'EPSG:4326');
	var point = transform(coordinate);
	$('#id_pos').val("POINT (" + point[0] + " " + point[1] + ")");
});

if ("{{ direction }}") { // Paint point and center
	var lat = parseFloat("{{ direction.pos.0 }}");
	var lon = parseFloat("{{ direction.pos.1 }}");
	selectMap.setMarkerPlaceLatLon( lat, lon );
}

$(function() {
	$.ajaxSetup({
		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});
});


function ParseAddress()
{
	$.ajax({
		url: "{% url 'parseaddr' %}",
		type: "POST",
		data: {
			"address": $("#address").val(),
		},
		success: function(response) {
			console.log(response['geoaddr']);
			selectMap.setMarkerPlaceLatLon(response['geoaddr'][0], response['geoaddr'][1]);
		}
	});
}


</script>


{% endblock %}
{% block content %}
<div class="page-layout container">
	<section>
		<div class="well container col-md-8 col-md-offset-2">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.description|bootstrap }}
		<br />
        {{ form.timetable|bootstrap }}
		<br />
        {{ form.phone|bootstrap }}
		<br />
		<label class="control-label  " for="id_phone">Pos</label>
			<div class="input-group">
				<input type="text" class="form-control" id="address" placeholder="{% trans "Search your location" %}">
				<span class="input-group-btn">
					<input type="button" class="btn btn-primary" value="{% trans "Go" %}" onclick="ParseAddress()">
				</span>
			</div>
			<br />
        {{ form.pos }}
			<br />
        {% if edit %}
            <input type="submit" class="btn btn-block btn-success" value="{% trans "Update" %}" />
        {% else %}
            <input type="submit" class="btn btn-block btn-success" value="{% trans "Create" %}" />
        {% endif %}
    </form>
	</div>
	</section>
</div>

<script>

</script>

{% endblock %}

