{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block extrabody %}

    <script type="text/javascript">
        var osmLayer = new ol.layer.Tile({
            source: new ol.source.OSM()
        });

        var source = new ol.source.Vector();
        var vectorLayer = new ol.layer.Vector({
            source: source,
            style: new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(255, 255, 255, 0.2)'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ffcc33',
                    width: 2
                }),
                image: new ol.style.Circle({
                    radius: 7,
                    fill: new ol.style.Fill({
                        color: '#00ff00'
                    })
                })
            })
        });

        var map = new ol.Map({
            layers: [osmLayer, vectorLayer],
            target: 'id_pos_map',
            controls: ol.control.defaults({
                attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
                    collapsible: false
                })
            }),
            view: new ol.View({
                center: [0, 0],
                zoom: 8
            })
        });

        if ("{{ direction }}") { // Paint point and center
            var lat = parseFloat("{{ direction.pos.0 }}");
            var lng = parseFloat("{{ direction.pos.1 }}");
            var coor = ol.proj.transform([lat, lng], 'EPSG:4326', 'EPSG:3857');
            var feature = new ol.Feature({
                geometry: new ol.geom.Point(coor),
                name: 'current'
            });
            source.addFeature(feature);
            map.getView().setCenter(coor);
        } else { // Geolocation and center
            var geolocation = new ol.Geolocation({
                projection: map.getView().getProjection(),
                tracking: true
            });

            // update the HTML page when the position changes.
            geolocation.on('change', function(evt) {
                map.getView().setCenter(geolocation.getPosition());
            });

            // handle geolocation error.
            geolocation.on('error', function(error) {
                var info = document.getElementById('info');
                info.innerHTML = error.message;
                info.style.display = '';
            });
        }

        var draw; // global so we can remove it later
        function addInteraction() {
            draw = new ol.interaction.Draw({
                source: source,
                type: "Point"
            });
            map.addInteraction(draw);
        }
        addInteraction();

        map.on('click', function(evt) {
            if (source.getFeatures().length > 1) {
                source.removeFeature(source.getFeatures()[0]);
            }
            var transform = ol.proj.getTransform('EPSG:3857', 'EPSG:4326');
            var point = transform(evt.coordinate);
            $('#id_pos').val("POINT (" + point[0] + " " + point[1] + ")");
        });
    </script>


{% endblock %}
{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        {% if edit %}
            <input type="submit" class="btn btn-block btn-success" value="{% trans "Update" %}" />
        {% else %}
            <input type="submit" class="btn btn-block btn-success" value="{% trans "Create" %}" />
        {% endif %}
    </form>

{% endblock %}

