{% extends "base.html" %}

{% load i18n %}

{% block extrahead %}
    <link type="text/css" href="{{ STATIC_URL }}css/project.css" rel="stylesheet"></link>
{% endblock %}

{% block content %}

    <div class="project">
        <div class="row">
            <div class="col-sm-4">
                {% if project.img %}
                <img src="{{ MEDIA_URL }}{{ project.img }}" class="img-responsive" alt="{{ project.name }}"/>
                {% else %}
                    <img src="{{ STATIC_URL }}/img/defaultp.png" class="img-responsive" alt="{{ project.name }}"/>
                {% endif %}
            </div>
            <div class="col-sm-8">
				<a href="{% url 'detail' project.getslug %}"><h3>{{ project.name }}</h3></a>
                <p>{{ project.description }}</p>
                <span class="pull-right">
                {% blocktrans with time=project.created|timesince %}{{ time }} ago{% endblocktrans %}
                </span>
                <a href="" class="label label-success">{{ project.ong.name }}</a>
            </div>
        </div>
    </div>

    {% if project.percent_donate < 100 %}
    <div class="donate-t1">
        <div class="row">
            <div class="col-md-12">
                <h3 class="center">{% trans "Achieved" %}</h3>
                <progress class="achieved" value="{{ project.percent_donate|floatformat:2 }}" max="100"></progress>
                <h3>{% trans "Shipping number" %}: {{ ship.id }}</h3>
                <form class="donate" action="{% url 'shipping' ship.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-hover list-equipment">
                                <thead>
                                    <tr>
                                        <th>{% trans "Items" %}</th>
                                        <th>{% trans "Description" %}</th>
                                        <th class="center">{% trans "Necessaries" %}</th>
                                        <th>{% trans "Quantity" %}</th>
                                        <th>{% trans "Optional information about item" %}</th>
                                    </tr>
                                </thead>
                                {% for thing in project.things.all %}
                                    {% if thing.ndonations.nodonate > 0 %}
                                        <tr>
                                            <td>{{ thing.name }}</td>
                                            <td>{{ thing.description|truncatechars:30 }}</td>
                                            <td class="center">{{ thing.ndonations.nodonate }}</td>
                                            <td>
                                                <input name="quantity[{{ thing.id }}]"
                                                    type="number" min="0" max="{{ thing.ndonations.nodonate }}"
                                                    value="{% if thing.id in things_checks %}1{% else %}0{% endif %}">
                                                </input>
                                            </td>
                                            <td>
                                                <textarea type="text" name="info[{{ thing.id }}]"></textarea>
                                            </td>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                    <div class="row center">
                        <div class="col-md-12">
                            {% trans "Shipping direction" %}
                            <select type="text" name="direction">
                                {% for dir in project.directions.all %}
                                    <option value="{{ dir.id }}">{{ dir }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            {% trans "Delivery date (aprox.)" %}
                            <input type="time" id="delivery" name="delivery_hour"></input>
                            <input type="date" id="delivery" name="delivery_date" min="{{ today.date.isoformat }}"></input>
                            <br>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-md-12">
                            <textarea type="text" class="w90" name="comment" placeholder="{% trans "Commentary about shipping" %}"></textarea>
                        </div>
                        <div class="col-md-12">
                            <input type="checkbox" name="show">
                                {% trans "Show in donate page" %}
                            </input>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success w90" value="{% trans "Accept" %}"></input>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        <h3 class="center">{% trans "Project completed: you can donate in other projects" %}</h3>
        <progress class="achieved" value="{{ project.percent_donate|floatformat:2 }}" max="100"></progress>
    {% endif %}

{% endblock %}
