{% load i18n %}

<!-- modal_donation -->
<div class="modal fade" id="modal_cooperation" tabindex="-1" role="dialog" aria-labelledby="modal_cooperationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- modal-content form -->
        <div class="modal-content form active">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">{% trans "Collaborate with your help" %}</h3>
            </div>
            <div class="modal-body">
                <!-- form -->
                <form id="form_coop" method="POST">
                    {% csrf_token %}
                    <!-- form-section -->
                    <div class="form-section">
                        <h4 class="form-section-header"><span class="badge">1</span> {% trans "What we need from you?" %}</h4>
                        <p id="what"> </p>
                    </div>
                    <!-- END form-section -->
                    <!-- form-section -->
                    <div class="form-section">
                        <h4 class="form-section-header"><span class="badge">2</span> {% trans "Where?" %}</h4>
                        <!-- TODO map here -->
						<span id="where_wrapper">
						</span>
                    </div>
                    <!-- END form-section -->
                    <!-- form-section -->
                    <div class="form-section">
                        <h4 class="form-section-header"><span class="badge">3</span> {% trans "When?" %}</h4>
                        <div class="well text-center">
                            <i class="icon-calendar i-16"></i>
                            <span id="when"></span>
                            <i class="icon-clock i-16"></i>
                        </div>
                    </div>
                    <!-- END form-section -->
                    <div class="checkbox">
                        <label><input id="priv" name="priv" type="checkbox">{% trans "Private cooperation" %}</label>
                    </div>
                    <input type='hidden' id='coop_id' name='coop_id' />

                </form>
                <!-- END form -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-primary" onclick="cooperate();">{% trans "Participate" %}</button>
            </div>
        </div>
        <!-- END modal-content form -->
        <!-- modal-content success -->
        <div class="modal-content success">
            <div class="modal-header">
                <button type="button" onclick="formModalReset();" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
            </div>
            <div class="modal-body text-center">
                <i class="icon-checkmark i-128"></i>
                <h3>{% trans "Done!" %}</h3>
                <h4>{% trans "Thank you for your collaboration" %}</h4>
            </div>
        </div>
        <!-- END modal-content success-->
    </div>
</div>
<!-- END modal_donation -->

<script type="text/javascript">
    $(document).ready(function() {
        $("#modal_coop").click(function() {
            $("#coop_id").val($(this).data('id'));
            $("#what").text($(this).data('what'));
            $("#when").text($(this).data('when'));

			console.log("pre" + $(this).data('where'));
			if($(this).data('where') !== "undefined")
			{
				$("#where_wrapper").html('<span id="where"></span><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12680.354432952685!2d-5.983567620068355!3d37.38773672749435!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0d126c10f5053695%3A0x27f575e9f2f615b0!2sPlaza+Nueva!5e0!3m2!1ses!2ses!4v1416567996758" width="100%" height="200" frameborder="0" style="border:0"></iframe>');
				$("#where").text($(this).data('where'));
			}
			else
			{
				$("#where_wrapper").html('{% trans "No info" %}');
			}
        });
    });

    function cooperate() {
        var data = $("#form_coop").serialize();
        $.ajax({
            type: 'POST',
            url: '/project/cooperate/' + '{{ project.slug }}' + '/',
            data: data,
            success: function(json) {
                if(!json.error) {
                        formModalSuccess();
                }
            }
        });
    };

</script>
