{% load i18n %}

<!-- modal_donation -->
<div class="modal fade" id="modal_donation" tabindex="-1" role="dialog" aria-labelledby="modal_donationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- modal-content form -->
        <div class="modal-content form active">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
                <h3 class="modal-title" id="myModalLabel">{% trans "Donate thing" %}</h3>
            </div>
            <div class="modal-body">
                {% if not user.is_authenticated %}
                    <h1>
                        <a href="{% url 'account_signup' %}">{% trans "REGISTER" %}</a>
                        <span> {% trans "or" %} </span>
                        <a href="{% url 'account_login' %}">{% trans "LOGIN" %}</a>
                        <span> {% trans "for donate" %}</span>
                    </h1>
                {% else %}
                <!-- form -->
                <form id="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- form-section -->
                    <div class="form-section">
                        <h4 class="form-section-header"><span class="badge">1</span>{% trans "Have you a object photo? Upload it!" %}</h4>
                        <div class="well text-center">
                            <i id="show_img" class="icon-camera i-64"></i>
                            <p>
                                <input type="file" id="img" name="img" class="file_upload"
                                        accept="image/*" style="display:none" onchange="readURL(this);" />
                                <a href="#" class="black" clickable="true" onclick="select_img()">{% trans "Add image" %}</a -->
                            </p>
                        </div>
                    </div>
                    <!-- END form-section -->

                    <!-- form-section -->
                    <div class="form-section">
                        <h4 class="form-section-header"><span class="badge">2</span>{% trans "Add name and description of the object" %}</h4>
                        <div class="form-group">
                            <select name="thing_id" class="form-control" id="object_id">
                                <option value="a" >--- {% trans "Object name" %} ---</option>
                                {% for thing in project.things.all %}
                                    {% if thing.ndonations.nodonate > 0 %}
                                        <option value="{{ thing.id }}">
                                        {{ thing.name }}: {{ thing.ndonations.nodonate }} {% trans "remaining" %}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="object_quantity" name="quantity" type="number" min="1"
                                class="form-control" placeholder="{% trans "Object quantity" %}">
                            </input>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="objectDrescription">{% trans "Object description" %}</label>
                            <textarea class="form-control" id="object_info" name="info" placeholder="{% trans "Object description" %}"></textarea>
                        </div>
                        <div class="checkbox">
                            <label><input id="priv" name="priv" type="checkbox">{% trans "Private donation" %}</label>
                        </div>
                    </div>
                    <!-- END form-section -->

                    <!-- form-section -->
                    <div class="form-section">
                        <h4 class="form-section-header"><span class="badge">3</span>{% trans "Select shipping" %}</h4>
                        <select class="form-control" name="ship" id="ship">
                            {% for dir in project.directions.all %}
                                <option value="{{ dir.id }}">{{ dir }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- END form-section -->

                    <!-- cart -->
                    <div id="cart" class="form-section">
                        <h4 class="form-section-header"><span class="badge">·</span>{% trans "Donation cart" %}</h4>
                        <ul></ul>
                    </div>
                    <!-- END cart -->

                    <input type='hidden' id='add' name='add' value='false' />
                    <input type='hidden' id='close' name='close' value='false' />
                </form>
                {% endif %}
                <!-- END form -->

            </div>

            {% if user.is_authenticated %}
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-primary" onclick="add()">{% trans "Add" %}</button>
                <button type="button" class="btn btn-primary" onclick="addFinish()">{% trans "Add and donate" %}</button>
                <button type="button" class="btn btn-primary" onclick="finish()">{% trans "Donate" %}</button>
            </div>
            {% endif %}
        </div>
        <!-- END modal-content form -->

        <!-- modal-content success -->
        <div class="modal-content success">
            <div class="modal-header">
                <button type="button" onclick="formModalReset();" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
            </div>
            <div class="modal-body text-center">
                <i class="icon-checkmark i-128"></i>
                <h3>{% trans "Done!" %}</h3>
                <h4>{% trans "Thank for you collaboration" %}</h4>
            </div>
        </div>
        <!-- END modal-content success-->
    </div>
</div>
<!-- END modal_donation -->

<script type="text/javascript">
    function validate() {
        $('#form').validate({
            rules: {
                thing_id: {
                    required: true,
                    min: 0,
                    number: true,
                },
                quantity: {
                    required: true,
                    min: 1,
                    number: true,
                },
                info: {
                    minlength: 4,
                },
                ship: {
                    required: true,
                    number: true,
                },
            }
        });
    };

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#show_img').replaceWith($('<img id="show_img"></img>'));
                $('#show_img')
                    .attr('src', e.target.result)
                    .width(300)
                    .height(150);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function select_img() {
        $("#img").trigger('click');
    };

    $("#modal_donation").on('shown', refresh());

    function donation(add, close) {
        if(add) {
            validate();
            if(!$('#form').valid()) {
                return false;
            }
            $('#show_img').replaceWith($('<i id="show_img" class="icon-camera i-64"></i>'));
            $('#add').val('true');
        } else {
            $('#add').val('false');
        }

        if(close) {
            var items = $("#cart ul li");
            if (!add && items.length <= 0) {
                // TODO: Add msg
                return false;
            }
            $('#close').val('true');
        } else {
            $('#close').val('false');
        }

        $.ajax({
            type: 'POST',
            url: '/project/donate/' + '{{ project.slug }}' + '/',
            data: $("#form").serialize(),
            success: function(json) {
                if(!json.error) {
                    if (!close) {
                        refresh_cart(json['ship']);
                    } else {
                        formModalSuccess();
                    }
                }
            }
        });
    };

    function removeDonation(id) {
        $.ajax({
            type: 'GET',
            url: '/project/donate/remove/' + id + '/',
            data: {},
            success: function(json) {
                if(!json.error) {
                    refresh_cart(json['ship']);
                }
            }
        });
    };

    function refresh() {
        donation(false, false);
    }

    function finish() {
        donation(false, true);
    };

    function add() {
        donation(true, false);
    };

    function addFinish() {
        donation(true, true);
    };

    function refresh_cart(ship) {
        $("#cart ul li").remove();
        for (don in ship.donations) {
            var name = ship.donations[don].thing.name;
            var quantity = ship.donations[don].quantity;
            var don_id = ship.donations[don].id;
            $("#cart ul").append(
                '<li>' + name + ' x ' + quantity +
                '<a href="#" clickable="true" onclick=removeDonation(' + don_id + ')> Remove</a></li>'
            );
        }
    }
</script>
