{% load i18n %}
{% load bootstrap %}

<html>

<head>
<!-- OpenLayer -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/ol.css" type="text/css">
</head>

<body>


<!-- modal_donation -->
<div class="modal fade" id="modal_cooperation" tabindex="-1" role="dialog" aria-labelledby="modal_cooperationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- modal-content form -->
        <div class="modal-content form active">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">{% trans "Collaborate with your help" %}</h3>
            </div>
            <div class="modal-body">
                {% if not user.is_authenticated %}
                    <h1>
                        <a href="{% url 'account_signup' %}">{% trans "REGISTER" %}</a>
                        <span> {% trans "or" %} </span>
                        <a href="{% url 'account_login' %}">{% trans "LOGIN" %}</a>
                        <span> {% trans "to cooperate" %}</span>
                    </h1>
                {% else %}
                <!-- form -->
                <form id="form_coop" method="POST">
                    {% csrf_token %}
                    <!-- form-section -->
                    <div class="form-section">
                        <h4 class="form-section-header"><span class="badge">1</span> {% trans "What we need from you?" %}</h4>
                        <p id="what"> </p>
                    </div>
                    <!-- END form-section -->
                    <!-- form-section -->
                    <div class="form-section">
                        <h4 class="form-section-header"><span class="badge">2</span> {% trans "Where?" %}</h4>
                        <!-- TODO map here -->
						<div id="where_wrapper">
						</div>
                    </div>
                    <!-- END form-section -->
                    <!-- form-section -->
                    <div class="form-section">
                        <h4 class="form-section-header"><span class="badge">3</span> {% trans "When?" %}</h4>
						<div id="when_wrapper">
                        </div>
                    </div>
                    <!-- END form-section -->
                    <div class="checkbox">
                        <label><input id="priv" name="priv" type="checkbox">{% trans "Private cooperation" %}</label>
                    </div>
                    <input type='hidden' id='coop_id' name='coop_id' />

                </form>
                <!-- END form -->
				{% endif %}
            </div>
            <div class="modal-footer">
                {% if user.is_authenticated %}
                <button type="button" class="btn btn-link" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-primary" onclick="cooperate();">{% trans "Participate" %}</button>
				{% endif %}
            </div>
        </div>
        <!-- END modal-content form -->
        <!-- modal-content success -->
        <div class="modal-content success">
            <div class="modal-header">
                <button type="button" onclick="formModalReset();" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
            </div>
            <div class="modal-body text-center">
                <i class="icon-checkmark i-128"></i>
                <h3>{% trans "Done!" %}</h3>
                <h4>{% trans "Thank you for your collaboration" %}</h4>
            </div>
        </div>
        <!-- END modal-content success-->
    </div>
</div>
<!-- END modal_donation -->


<!-- jQuery -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<!-- jQuery cookie -->
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<!-- OpenLayer -->
<script src="{{ STATIC_URL }}js/ol.js" type="text/javascript"></script>

<script type="text/javascript">
var marker_image = '{{ STATIC_URL }}media/mapmarker.png';

var iconGeometry = new ol.geom.Point([637125.42195, 8172199.19090669]);
var iconFeature = new ol.Feature({
	geometry: iconGeometry,
	name: 'Null Island',
	population: 4000,
	rainfall: 500
});

var iconStyle = new ol.style.Style({
  image: new ol.style.Icon( ({
    anchor: [0.5, 46],
    anchorXUnits: 'fraction',
    anchorYUnits: 'pixels',
    opacity: 0.75,
    src: marker_image
  }))
});

iconFeature.setStyle(iconStyle);

// MARKER LAYER
var vectorSource = new ol.source.Vector({
  features: [iconFeature]
});

var vectorLayer = new ol.layer.Vector({
  source: vectorSource
});

// OSM LAYER
var osmLayer = new ol.layer.Tile({
	source: new ol.source.OSM({ visible: true })
});

var mapView = new ol.View({
	center: [0, 0],
	zoom: 8
});

var map = new ol.Map({
	layers: [osmLayer],
	target: 'map-div',
	controls: ol.control.defaults({
		attributionOptions:  ({
			collapsible: false
		})
	}),
	view: mapView
});

function dataFieldOrNothing(data_field, htmldata) {

}

$(document).ready(function() {
	$(".modal_coop").click(function() {
		$("#coop_id").val($(this).data('id'));
		$("#what").text($(this).data('what'));
		$("#when").text($(this).data('when'));

		if($(this).data('where') !== undefined)
		{
			$("#where_wrapper").html('<div id="map-div"></div>');
			//$("#where").text($(this).data('where'));
			map.setTarget("map-div");
			map.addLayer(osmLayer);
			map.addLayer(vectorLayer);
		}
		else
		{
			$("#where_wrapper").html('{% trans "No info" %}');
		}

		if($(this).data('when') !== undefined)
		{
			$("#when_wrapper").html('<div class="well text-center"><i class="icon-calendar i-16"></i><span id="when"></span><i class="icon-clock i-16"></i></div>');
			$("#when").text($(this).data('when'));
		}
		else
		{
			$("#when_wrapper").html('{% trans "No info" %}');
		}
	});
});

function cooperate() {
	var data = $("#form_coop").serialize();
	$.ajax({
		type: 'POST',
		url: '/project/cooperate/' + '{{ project.slug }}' + '/',
		data: data,
		success: function(json) {
			if(!json.error) {
					formModalSuccess();
			}
		}
	});
};

</script>
</body>
</html>
