{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Near to you" %}{% endblock %}

{% block extrahead %}
    <link type="text/css" href="{{ STATIC_URL }}css/project.css" rel="stylesheet"></link>
    <link type="text/css" href="{{ STATIC_URL }}css/near.css" rel="stylesheet"></link>
{% endblock %}

{% block extrabody %}
<script>
var marker_image = '{{ STATIC_URL }}media/mapmarker.png';

$(function() {
	$.ajaxSetup({
		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});
});

function DoNear()
{
	console.log($("#address").val());
	$.ajax({
		url: "{% url 'donear' %}",
		type: "POST",
		data: {
			"address": $("#address").val()
		},
		success: function(response) {
			console.log(response['geoaddr']);
			console.log(response['neardirs']);
			iconGeometry.setCoordinates(ol.proj.transform(response['geoaddr'], 'EPSG:4326', 'EPSG:3857'));
		}
	});
}
</script>
    <script src="{{ STATIC_URL }}js/near.js"></script>
{% endblock %}

{% block content %}
    <div class="searchbar input-group">
      <input type="text" class="form-control" id="address" placeholder="{% trans "Search your location" %}">
      <span class="input-group-btn">
        <input type="button" class="btn btn-primary" value="{% trans "Go" %}" onclick="DoNear()">
      </span>
    </div>

    <div id="map-canvas"></div>

    {% include "landing/bigbuttons.html" %}
{% endblock %}
