{% load i18n %}

<section id="detail_gallery">
	<div class="container">
		<h2>{% trans "Progress in images ..." %}</h2>
		<!-- gallery-grid -->
		<div class="gallery-grid">
            {% for img in project.get_images %}
                {% if img != '' %}
                    <a href="{{img}}" class="gallery-item big" rel="lightbox[detail_gallery]">
                            <img src="{{img}}"> </a>
                {% endif %}
            {% endfor %}
		</div>
		<!-- END gallery-grid -->
	</div>
</section>
