{% load i18n %}
{% load thumbnail %}

<!-- #detail_info -->
<section id="detail_info">
	<div class="container">
		<div class="row">
			<!-- description -->
			<div class="col-md-6 description">
				<h3>{% trans "Description" %}</h3>
				<p><img class="img-responsive" src="{% thumbnail project.img|default:'defaultp.png' 34x34 crop %}"></p>
                <p>{{ project.description }}</p>
			</div>
			<!-- END description -->
			<!-- donations -->
			<div class="col-md-4 col-md-offset-2 sidebar">
				<h2>{% trans "Objectives" %}</h2>
				<ul class="nav nav-pills nav-stacked">
                    {% for obj in objectives %}
						<li><span><i class="icon-checkmark i-16 primary"></i>{{ obj.manifest }}</span></li>
                    {% endfor %}
				</ul>
                {% if project.categories.all %}
                    <h2>{% trans "Categories" %}</h2>
                    <ul class="nav nav-pills nav-stacked">
                        {% for category in project.categories.all %}
                        <li><a href="#"><i class="icon-folder i-16 primary"></i>{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if project.collaborators.all %}
                    <h2>{% trans "Collaborators" %}</h2>
                    <div class="collaborators">
                        {% for collaborator in project.collaborators.all %}
                            <a href="{{ collaborator.link }}" class="collaborator"><img src="/static/media/{{ collaborator.img }}"></a>
                        {% endfor %}
                    </div>
                {% endif %}
			</div>
			<!-- END donations -->
		</div>
	</div>
</section>
<!-- END #detail_info -->
