{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block extrabody %}
    <script src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
    <script>
        $('.thingform').formset({ prefix: '{{ thing_form.prefix }}' });
    </script>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                {% if edit %}
                    <h2>{% trans "Project" %} {{ project.name }}</h2>
                {% else %}
                    <h2>{% trans "New Project for" %} {{ ong.name }}</h2>
                {% endif %}
                {{ form|bootstrap }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="well">
                {% if not edit %}
                    <h2>{% trans "Add Main Direction, later you can to add others directions" %}</h2>
                    {{ direction_form.management_form }}
                    {{ direction_form|bootstrap }}
                {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>{% trans "Add things" %}</h2>
                {{ thing_form.management_form }}
                {% for form in thing_form.forms %}
                    <div class="thingform">{{form|bootstrap_horizontal}}</div>
                {% endfor %}
            </div>
        </div>

        {% if edit %}
            <input type="submit" class="btn btn-success" value="{% trans "Update" %}" />
        {% else %}
            <input type="submit" class="btn btn-success" value="{% trans "Create" %}" />
        {% endif %}
    </form>

    {% if edit %}
        <h2>{% trans "Addresses:" %}</h2>
        {% for dir in project.directions.all %}
        <ul>
            {{ dir.description }}, {{ dir.timetable }}, {{ dir.phone }},  ({{ dir.pos.0 }},{{ dir.pos.1 }})
            <a href="/project/edit/direction/{{ dir.id }}/">{% trans "Edit" %}</a>
            <a href="/project/remove/direction/{{ dir.id }}/">{% trans "Remove" %}</a>
        </ul>
        {% endfor %}
        <a href="/project/create/direction/{{ project.id }}/">{% trans "New" %}</a>
        <h2>{% trans "Things:" %}</h2>
        {% for thing in project.things.all %}
        <ul>
            {{ thing.quantity }} {{ thing.name }}: {{ thing.description }}
            <a href="/project/edit/thing/{{ thing.id }}/">{% trans "Edit" %}</a>
            <a href="/project/remove/thing/{{ thing.id }}/">{% trans "Remove" %}</a>
        </ul>
        {% endfor %}
        <a href="/project/create/thing/{{ project.id }}/">{% trans "New" %}</a>
    {% endif %}
{% endblock %}
