{% extends "base.html" %}

{% load i18n %}

{% block extrahead %}
    <link type="text/css" href="{{ STATIC_URL }}css/project.css" rel="stylesheet"></link>
{% endblock %}

{% block content %}
    <section id="featured_images" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% include "project/project_header.html" with project=project active="True" %}
        </div>
    </section>
    {% include "project/project-detail-video.html" %}
    {% include "project/project-detail-needs.html" %}
    {% include "project/project-detail-info.html" %}
    {% include "project/project-detail-gallery.html" %}
    {% include "project/project-detail-comments.html" %}
    {% include "project/donations.html" %}
    {% include "project/cooperations.html" %}
{% endblock %}
