{% load i18n %}
{% load thumbnail %}

<!-- div class="media project">
    <div class="media-left">
        <img src="{% thumbnail project.img|default:'defaultp.png' 300x300 %}">
    </div>
    <div class="media-body">
        <a href="/project/detail/{{ project.id }}/"> <h3 class="media-heading">{{ project.name }}
            <div class="progress grey pull-right">
                <div class="progress-bar progress-bar-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percent_donate }}%;">{{ project.percent_donate }}%</div>
            </div>
        </h3></a>
        <p>{{ project.description }}</p>
        <p>
            {% if project.categories.all %}
                {% for category in project.categories.all %}
                <a href="#" class="btn btn-default btn-sm"><i class="icon-folder"></i>{{ category.name }}</a>
                {% endfor %}
            {% endif %}
        </p>
    </div>
</div -->

<div class="media project">
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{% thumbnail project.img|default:'defaultp.png' 300x300 %}">
        </div>
        <div class="col-sm-5">
            <a href="/project/detail/{{ project.id }}/"><h3>{{ project.name }}</h3></a>
            <p>{{ project.description|truncatewords:40 }}</p>
            <span class="pull-right">
            <a href="/project/ong/{{ project.ong.id }}/" class="label label-success">{{ project.ong.name }}</a>
            </span>
            <p>
                {% if project.categories.all %}
                    {% for category in project.categories.all %}
                    <a href="#" class="btn btn-default btn-sm"><i class="icon-folder"></i>{{ category.name }}</a>
                    {% endfor %}
                {% endif %}
            </p>
        </div>

        <div class="col-sm-5">
            <h3>{% trans "What do we need?" %}</h3>
            <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal_donation"><i class="icon-object i-16"></i> {% trans "Donate" %}</a>
            <ul>
                {% for thing in project.things.all %}
                {% if forloop.counter < 5 %}
                    <li>{{ thing.name }} ({{ thing.ndonations.total }}/{{ thing.quantity }})</li>
                {% elif forloop.counter == 5 %}
                    <li>{% trans "And more..." %}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
