{% load i18n %}
{% load thumbnail %}
{% load l10n %}

<!-- #detail_needs -->
<section id="detail_needs">
	<div class="container">
		<!-- section-title -->
		<div class="section-title">
			<h2 class="pull-left">{% trans "We need ..." %}</h2>
			<div class="pull-right text-right controls">
                {% trans "Neccesary things" %}: {{ project.remain_things }}
				<div class="progress grey pull-right">
                {% localize off %}
					<div class="progress-bar progress-bar-grey" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percent_donate }}%;">{{ project.percent_donate }}%</div>
                {% endlocalize %}
				</div>
			</div>
		</div>
		<!-- END section-title -->

		<div class="row needs">
            {% for thing in project.things.all %}
                {% if thing.ndonations.nodonate > 0 %}
                    <div class="col-md-3 col-sm-6">
                        <div class="item box need">
                            <div class="box-container">
                                <h3>{{ thing.name }}: {{ thing.ndonations.nodonate }} {% trans "remaining" %}</h3>
                                <div class="text-right"><a href="#" class="btn btn-primary inverse"
                                        data-toggle="modal" data-target="#modal_donation"><i class="icon-object i-16"></i>{% trans "Donate" %}</a></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <!-- END need item -->

            <!-- need item ... class="done" when object is donated-->
            {% for shipping in project.shipping.all %}
                {% if shipping.status != 'creating' %}
                {% for donation in shipping.donations.all %}
                    {% if donation.show %}
                        <div class="col-md-3 col-sm-6">
                            <div class="item box need done">
                                <div class="box-container">
                                    <h3>{{ donation.thing.name }} x {{ donation.quantity }}</h3>
                                    <div>
                                        {% trans "Thanks" %} <strong>{{ donation.donor }}</strong>!
                                    </div>
                                </div>
                                <!-- if is a object... the image of object donated -->
                                {% if donation.img %}
                                    <img src="{% thumbnail donation.img 400x400 crop %}" />
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
            {% endfor %}
            <!-- END need item -->
		</div>

		<!-- control-buttons -->
		<div class="control-buttons text-center"><a href="#" id="load_more" class="btn btn-default btn-lg">{% trans "Load more" %}</a></div>
		<!-- END control-buttons -->

	</div>
</section>
<!-- END #detail_needs -->
