{% load thumbnail %}
{% load i18n %}

<!-- projects-container  -->
<div class="projects grid row active">
    {% for project in all_projects %}
    <!-- project -->
    <a href="{% url 'detail' project.id %}" class="col-md-{{ colmd|default_if_none:"4" }} col-sm-6 project">
        <div class="project-title">
            <h3>{{ project.name|truncatechars:30 }}</h3>
            <div class="progress white">
                <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="{{ project.percent_donate }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percent_donate }}%;">{{ project.percent_donate }}%</div>
            </div>
        </div>
        <img src="{% thumbnail project.img|default:'defaultp_img.png' 400x400 crop %}">
    </a>
    <!-- END project -->
    {% endfor %}

    {% if addbutton %}
    <!-- project -->
    <a href="{% url 'create_ong' %}" class="col-md-{{ colmd|default_if_none:"4" }} col-sm-6 project add">
        <div class="project-title">
            <i class="icon-plus i-64"></i>
            <span>{% trans "Start your project from here" %}</span>
        </div>
        <img src="{{ STATIC_URL }}theme/img/blank_img-400.png">
    </a>
    <!-- END project -->
    {% endif %}
</div>
<!-- END projects-container -->
