{% load i18n %}
{% load thumbnail %}
{% load l10n %}

<!-- item -->
<div class="item {% if active %}active{% endif %}">
    <div class="carousel-caption">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-6">
                    <div class="box">
                        <div class="box-sponsor">
                            <img class="img-circle" src="{% thumbnail project.ong.img|default:'defaultp.png' 60x60 crop %}" alt="{{ project.ong }}"/>
                            <span>{{ project.ong.name|truncatechars:40 }}</span>
                        </div>
                        <div class="box-title">
                            <h2>{{ project.name|truncatechars:40 }}</h2>
                            <div class="progress white">
                            {% localize off %}
                                <div class="progress-bar progress-bar-white" role="progressbar" aria-valuenow="{{ project.percent_donate }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percent_donate }}%;">{{ project.percent_donate }}%</div>
                            {% endlocalize %}
                            </div>
                        </div>
                        <div class="box-body">
                            <p>{{ project.description|truncatewords:20 }}</p>
                            {% if slider %}
                            <div class="text-right"><a href="{{ project.get_absolute_url }}" class="btn btn-default">{% trans "More info" %}</a></div>
                            {% endif %}
                        </div>

                        {% if not slider %}
                            <div class="box-social">
                                <div class="pull-left">{% trans "Share it" %}</div>
                                <div class="pull-right">
                                    <a href="#" class="social twitter"><i class="icon-twitter i-32"></i></a>
                                    <a href="#" class="social facebook"><i class="icon-facebook i-32"></i></a>
                                    <a href="#" class="social googleplus"><i class="icon-googleplus i-32"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="{% thumbnail project.img|default:'defaultp_img.png' 1280x540 crop %}">
</div>
<!-- END item -->

{% if not slider %}
<!-- project-bar-fixed -->
<div class="project-bar-fixed" data-spy="affix" data-offset-top="300" data-offset-bottom="300">
    <div class="container-fluid big-container">
        <!-- sections -->
        <div class="sections pull-left">
            <a href="#detail_video"><i class="icon-film i-32"></i></a>
            <a href="#detail_needs"><i class="icon-object i-32"></i></a>
            <a href="#detail_info"><i class="icon-paragraph-left2 i-32"></i></a>
            <a href="#detail_gallery"><i class="icon-images i-32"></i></a>
            <a href="#detail_comments"><i class="icon-bubble i-32"></i></a>
        </div>
        <!-- END sections -->
        <!-- box-social -->
        <div class="box-social pull-right visible-md visible-lg visible-sm">
            <a href="https://twitter.com/home?status=Colabora%20con%20{{ project.name }}%20en%20 {{ request.build_absolute_uri }} #{{ project.hashtag }}" class="social twitter" target="_blank"><i class="icon-twitter i-32"></i></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="social facebook" target="_blank"><i class="icon-facebook i-32"></i></a>
            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" class="social googleplus" target="_blank"><i class="icon-googleplus i-32"></i></a>
        </div>
        <!-- END box-social -->
    </div>
</div>
<!-- END project-bar-fixed -->
{% endif %}
